In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.shape

(1338, 7)

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
columns = ['age','bmi','children']

In [7]:
for column in columns:
    upper_limit = df[column].mean() + 3*df[column].std()
    lower_limit = df[column].mean() - 3*df[column].std()
    diabetes_df =  df[(df[column]<upper_limit) & (df[column]>lower_limit)]
df.shape

(1338, 7)

In [8]:
categorical_columns = ['sex','children', 'smoker', 'region']
for col in categorical_columns:
    df = pd.get_dummies(data = df, prefix = col, prefix_sep='_',
                               columns = [col],
                               drop_first =True,
                               dtype='int8')

In [9]:
df.head()

,age,bmi,charges,sex_male,children_1,children_2,children_3,children_4,children_5,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,16884.92400,0,0,0,0,0,0,1,0,0,1
1,18,33.770,1725.55230,1,1,0,0,0,0,0,0,1,0
2,28,33.000,4449.46200,1,0,0,1,0,0,0,0,1,0
3,33,22.705,21984.47061,1,0,0,0,0,0,0,1,0,0
4,32,28.880,3866.85520,1,0,0,0,0,0,0,1,0,0

In [10]:
df.shape

(1338, 13)

## Using sklearn

In [11]:
from sklearn.model_selection import train_test_split
X = df.drop('charges',axis=1)
y = df['charges']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=2023)

In [12]:
linreg = LinearRegression().fit(X_train, y_train)

y_pred = linreg.predict(X_test)

In [13]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

4202.206759734044

## Using tensorflow

In [14]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(12,)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='linear')
])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.1),
    loss='mae')

In [16]:
model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
30/30 [==============================] - 1s 2ms/step - loss: 8562.5918
Epoch 2/100
30/30 [==============================] - 0s 2ms/step - loss: 6727.5508
Epoch 3/100
30/30 [==============================] - 0s 2ms/step - loss: 6299.9014
Epoch 4/100
30/30 [==============================] - 0s 2ms/step - loss: 5858.7031
Epoch 5/100
30/30 [==============================] - 0s 2ms/step - loss: 4698.6055
Epoch 6/100
30/30 [==============================] - 0s 2ms/step - loss: 4401.6729
Epoch 7/100
30/30 [==============================] - 0s 2ms/step - loss: 4202.3491
Epoch 8/100
30/30 [==============================] - 0s 2ms/step - loss: 4027.5549
Epoch 9/100
30/30 [==============================] - 0s 2ms/step - loss: 3809.6848
Epoch 10/100
30/30 [==============================] - 0s 2ms/step - loss: 3781.6753
Epoch 11/100
30/30 [==============================] - 0s 2ms/step - loss: 3675.2808
Epoch 12/100
30/30 [==============================] - 0s 2ms/step - loss: 3642.0090
Epoch 13/100
30/30 [==============================] - 0s 2ms/step - loss: 3847.5342
Epoch 14/100
30/30 [==============================] - 0s 2ms/step - loss: 3734.3503
Epoch 15/100
30/30 [==============================] - 0s 2ms/step - loss: 3362.9675
Epoch 16/100
30/30 [==============================] - 0s 2ms/step - loss: 3234.0491
Epoch 17/100
30/30 [==============================] - 0s 2ms/step - loss: 3287.4358
Epoch 18/100
30/30 [==============================] - 0s 2ms/step - loss: 3327.3782
Epoch 19/100
30/30 [==============================] - 0s 2ms/step - loss: 3367.0215
Epoch 20/100
30/30 [==============================] - 0s 2ms/step - loss: 3316.1914
Epoch 21/100
30/30 [==============================] - 0s 2ms/step - loss: 3288.4705
Epoch 22/100
30/30 [==============================] - 0s 2ms/step - loss: 3269.9043
Epoch 23/100
30/30 [==============================] - 0s 2ms/step - loss: 3185.0886
Epoch 24/100
30/30 [==============================] - 0s 2ms/step - loss: 3324.7478
Epoch 25/100
30/30 [==============================] - 0s 2ms/step - loss: 3226.5796
Epoch 26/100
30/30 [==============================] - 0s 2ms/step - loss: 3347.9641
Epoch 27/100
30/30 [==============================] - 0s 2ms/step - loss: 3411.8511
Epoch 28/100
30/30 [==============================] - 0s 2ms/step - loss: 3126.9324
Epoch 29/100
30/30 [==============================] - 0s 2ms/step - loss: 3215.8870
Epoch 30/100
30/30 [==============================] - 0s 2ms/step - loss: 3274.3938
Epoch 31/100
30/30 [==============================] - 0s 2ms/step - loss: 3191.8101
Epoch 32/100
30/30 [==============================] - 0s 2ms/step - loss: 3179.9221
Epoch 33/100
30/30 [==============================] - 0s 2ms/step - loss: 3140.0886
Epoch 34/100
30/30 [==============================] - 0s 2ms/step - loss: 3497.5825
Epoch 35/100
30/30 [==============================] - 0s 2ms/step - loss: 3160.0337
Epoch 36/100
30/30 [==============================] - 0s 2ms/step - loss: 3070.9358
Epoch 37/100
30/30 [==============================] - 0s 2ms/step - loss: 3183.2424
Epoch 38/100
30/30 [==============================] - 0s 2ms/step - loss: 3230.0786
Epoch 39/100
30/30 [==============================] - 0s 2ms/step - loss: 3092.3674
Epoch 40/100
30/30 [==============================] - 0s 2ms/step - loss: 3303.8870
Epoch 41/100
30/30 [==============================] - 0s 2ms/step - loss: 3107.8118
Epoch 42/100
30/30 [==============================] - 0s 2ms/step - loss: 3172.4668
Epoch 43/100
30/30 [==============================] - 0s 2ms/step - loss: 3079.6021
Epoch 44/100
30/30 [==============================] - 0s 2ms/step - loss: 3095.9983
Epoch 45/100
30/30 [==============================] - 0s 2ms/step - loss: 3031.2395
Epoch 46/100
30/30 [==============================] - 0s 2ms/step - loss: 3273.8489
Epoch 47/100
30/30 [==============================] - 0s 2ms/step - loss: 3067.6543
Epoch 48/100
30/30 [==============================] - 0s 2ms/step - loss: 3007.8247
Epoch 49/100
30/30 [==============================] - 0s 2ms/step - loss: 3170.3408
Epoch 50/100
30/30 [==============================] - 0s 2ms/step - loss: 2703.0530
Epoch 51/100
30/30 [==============================] - 0s 2ms/step - loss: 3063.3354
Epoch 52/100
30/30 [==============================] - 0s 2ms/step - loss: 3247.0789
Epoch 53/100
30/30 [==============================] - 0s 2ms/step - loss: 2906.6790
Epoch 54/100
30/30 [==============================] - 0s 2ms/step - loss: 2607.0234
Epoch 55/100
30/30 [==============================] - 0s 2ms/step - loss: 2744.0669
Epoch 56/100
30/30 [==============================] - 0s 2ms/step - loss: 3577.3235
Epoch 57/100
30/30 [==============================] - 0s 2ms/step - loss: 2959.4868
Epoch 58/100
30/30 [==============================] - 0s 2ms/step - loss: 2661.8911
Epoch 59/100
30/30 [==============================] - 0s 2ms/step - loss: 3168.4041
Epoch 60/100
30/30 [==============================] - 0s 2ms/step - loss: 3185.8010
Epoch 61/100
30/30 [==============================] - 0s 2ms/step - loss: 2940.3896
Epoch 62/100
30/30 [==============================] - 0s 3ms/step - loss: 3555.1536
Epoch 63/100
30/30 [==============================] - 0s 3ms/step - loss: 3426.2063
Epoch 64/100
30/30 [==============================] - 0s 2ms/step - loss: 3375.4375
Epoch 65/100
30/30 [==============================] - 0s 2ms/step - loss: 3568.6282
Epoch 66/100
30/30 [==============================] - 0s 2ms/step - loss: 3431.8975
Epoch 67/100
30/30 [==============================] - 0s 2ms/step - loss: 3325.4253
Epoch 68/100
30/30 [==============================] - 0s 2ms/step - loss: 3019.3799
Epoch 69/100
30/30 [==============================] - 0s 2ms/step - loss: 3114.3242
Epoch 70/100
30/30 [==============================] - 0s 2ms/step - loss: 2785.6135
Epoch 71/100
30/30 [==============================] - 0s 2ms/step - loss: 2810.5813
Epoch 72/100
30/30 [==============================] - 0s 2ms/step - loss: 2773.8345
Epoch 73/100
30/30 [==============================] - 0s 2ms/step - loss: 3369.1477
Epoch 74/100
30/30 [==============================] - 0s 2ms/step - loss: 2843.4961
Epoch 75/100
30/30 [==============================] - 0s 2ms/step - loss: 2824.3804
Epoch 76/100
30/30 [==============================] - 0s 3ms/step - loss: 2925.0503
Epoch 77/100
30/30 [==============================] - 0s 2ms/step - loss: 3057.7405
Epoch 78/100
30/30 [==============================] - 0s 3ms/step - loss: 2573.0598
Epoch 79/100
30/30 [==============================] - 0s 2ms/step - loss: 2925.9143
Epoch 80/100
30/30 [==============================] - 0s 2ms/step - loss: 2964.5735
Epoch 81/100
30/30 [==============================] - 0s 2ms/step - loss: 2565.0398
Epoch 82/100
30/30 [==============================] - 0s 3ms/step - loss: 2604.6821
Epoch 83/100
30/30 [==============================] - 0s 2ms/step - loss: 2845.6079
Epoch 84/100
30/30 [==============================] - 0s 2ms/step - loss: 2738.3804
Epoch 85/100
30/30 [==============================] - 0s 3ms/step - loss: 2626.2864
Epoch 86/100
30/30 [==============================] - 0s 2ms/step - loss: 2768.3157
Epoch 87/100
30/30 [==============================] - 0s 2ms/step - loss: 2402.7629
Epoch 88/100
30/30 [==============================] - 0s 2ms/step - loss: 2388.5427
Epoch 89/100
30/30 [==============================] - 0s 2ms/step - loss: 2577.0491
Epoch 90/100
30/30 [==============================] - 0s 2ms/step - loss: 2361.2791
Epoch 91/100
30/30 [==============================] - 0s 2ms/step - loss: 2519.3945
Epoch 92/100
30/30 [==============================] - 0s 2ms/step - loss: 2351.5803
Epoch 93/100
30/30 [==============================] - 0s 2ms/step - loss: 2512.4851
Epoch 94/100
30/30 [==============================] - 0s 2ms/step - loss: 2429.6594
Epoch 95/100
30/30 [==============================] - 0s 2ms/step - loss: 2462.8882
Epoch 96/100
30/30 [==============================] - 0s 3ms/step - loss: 2786.3450
Epoch 97/100
30/30 [==============================] - 0s 2ms/step - loss: 2474.2007
Epoch 98/100

30/30 [==============================] - 0s 2ms/step - loss: 2299.1628
Epoch 99/100
30/30 [==============================] - 0s 2ms/step - loss: 2437.8386
Epoch 100/100
30/30 [==============================] - 0s 2ms/step - loss: 2401.6589

In [17]:
model.evaluate(X_test, y_test)

13/13 [==============================] - 0s 2ms/step - loss: 2628.4839

2628.48388671875

In [18]:
y_pred = model.predict(X_test)
y_pred[:10]

13/13 [==============================] - 0s 1ms/step

array([[ 8402.916],
       [ 9894.19 ],
       [31858.545],
       [ 3507.734],
       [10104.453],
       [ 4433.332],
       [ 5072.566],
       [ 2969.585],
       [ 7251.29 ],
       [42197.93 ]], dtype=float32)

In [19]:
y_test[:10]

748      8556.90700
745      9910.35985
57      34303.16720
546      3268.84665
279      9855.13140
608      4435.09420
189      4922.91590
507      3077.09550
640      6666.24300
1070    39871.70430
Name: charges, dtype: float64