In [1]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('movies.csv', index_col=0)
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
index,,,,,,,,,,,,,,,,,,,,,
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
df.shape

(4803, 23)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4775 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4391 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4760 non-null   object
 21  crew                  4803 non-null   object
 22  director              4773 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [5]:
features = ['genres', 'keywords', 'tagline', 'cast', 'director']

In [6]:
df1 = df[features]
df1 = df1.fillna('')

In [7]:
df2 = df['title']

In [8]:
combined_features = df1[features[0]] + ' ' + df1[features[1]] + ' ' + df1[features[2]] + ' ' + df1[features[3]] + ' ' + df1[features[4]]

In [9]:
# converting the text data to feature vectors
feature_vectors = TfidfVectorizer().fit_transform(combined_features)

In [10]:
lst = list(df['title'])

In [11]:
# getting the movie name from the user
fav_movies = input('Enter your favourite movie name :')

Enter your favourite movie name :batman

In [12]:
# finding the close match for the movie name given by the user
find_close_match = difflib.get_close_matches(fav_movies, lst)
find_close_match

['Batman', 'Batman', 'Catwoman']

In [13]:
idx = df1.index[df['title'] == find_close_match[0]][0]

In [14]:
# getting the similarity scores using cosine similarity
similarity = cosine_similarity(feature_vectors)

In [15]:
# getting a list of similar movies
similarity_score = list(enumerate(similarity[idx]))

In [16]:
sorted_recommend = sorted(similarity_score, key= lambda x : x[1], reverse = True)

In [17]:
recommended_movies = [df['title'].iloc[sorted_recommend[i][0]] for i in range(len(sorted_recommend))]
recommended_df = pd.DataFrame({'recommended_movies':recommended_movies})
recommended_df.head(20)

                recommended_movies
0                           Batman
1                   Batman Returns
2                   Batman & Robin
3            The Dark Knight Rises
4                    Batman Begins
5                  The Dark Knight
6            A History of Violence
7                         Superman
8                      Beetlejuice
9                        Bedazzled
10                   Mars Attacks!
11                    The Sentinel
12              Planet of the Apes
13                    Man of Steel
14                   Suicide Squad
15                        The Mask
16                      Salton Sea
17                    Spider-Man 3
18  The Postman Always Rings Twice
19                   Hang 'em High