In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('price.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,4340.0,2013.090783,4.215344,1992.0,2011.00,2014.0,2016.0,2020.0
selling_price,4340.0,504127.311751,578548.736139,20000.0,208749.75,350000.0,600000.0,8900000.0
km_driven,4340.0,66215.777419,46644.102194,1.0,35000.00,60000.0,90000.0,806599.0

In [5]:
column = ['fuel','seller_type', 'transmission','owner']
values = {}
for col in column:
    values[col] = df[col].unique()
values

{'fuel': array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object),
 'seller_type': array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object),
 'transmission': array(['Manual', 'Automatic'], dtype=object),
 'owner': array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
        'Third Owner', 'Test Drive Car'], dtype=object)}

In [6]:
for key, value in values.items():
    m=0
    value = list(value)
    for i in value:
        df.replace({key:{i: m}}, inplace = True)
        m += 1

In [7]:
values = {}
for col in column:
    values[col] = df[col].unique()
values

{'fuel': array([0, 1, 2, 3, 4], dtype=int64),
 'seller_type': array([0, 1, 2], dtype=int64),
 'transmission': array([0, 1], dtype=int64),
 'owner': array([0, 1, 2, 3, 4], dtype=int64)}

<h5> Spliting the data

In [8]:
X = df.drop(['name', 'selling_price'], axis=1)
y = df.selling_price

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 2023)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Using Linear reg

In [11]:
model = LinearRegression().fit(X_train, y_train)

<h5> Evaluation

In [12]:
train_pred =  model.predict(X_train)

In [13]:
print('r squared error: ',r2_score(y_train, train_pred))
print('mean absolute error: ',mean_absolute_error(y_train, train_pred))

r squared error:  0.44456682827893435
mean absolute error:  231402.533155347

In [14]:
test_pred =  model.predict(X_test)

In [15]:
print('r squared error: ',r2_score(y_test, test_pred))
print('mean absolute error: ',mean_absolute_error(y_test, test_pred))

r squared error:  0.4051933120177148
mean absolute error:  241568.28287083193

### Using tensorflow

In [16]:
import tensorflow as tf
import keras
from keras import layers

In [17]:
# Create a model that include the normalization layer
model = tf.keras.Sequential([
    layers.Input(shape = 6),
    layers.Normalization(),   
    layers.Dense(256, activation='relu'),
    layers.Dense(256, activation='relu'),
    layers.Dense(256, activation='relu'),
    layers.Dense(128, activation='relu'),
    layers.Dense(128, activation='relu'),
    layers.Dense(128, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

model.compile(loss='mae',
                optimizer="adam")
model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
123/123 [==============================] - 1s 3ms/step - loss: 347202.0312
Epoch 2/100
123/123 [==============================] - 0s 3ms/step - loss: 207407.7188
Epoch 3/100
123/123 [==============================] - 0s 3ms/step - loss: 202487.6875
Epoch 4/100
123/123 [==============================] - 0s 3ms/step - loss: 201670.2500
Epoch 5/100
123/123 [==============================] - 0s 3ms/step - loss: 197771.3438
Epoch 6/100
123/123 [==============================] - 0s 3ms/step - loss: 194729.8750
Epoch 7/100
123/123 [==============================] - 0s 3ms/step - loss: 191309.6719
Epoch 8/100
123/123 [==============================] - 0s 3ms/step - loss: 189422.9062
Epoch 9/100
123/123 [==============================] - 0s 3ms/step - loss: 185116.7812
Epoch 10/100
123/123 [==============================] - 0s 3ms/step - loss: 183901.6250
Epoch 11/100
123/123 [==============================] - 0s 3ms/step - loss: 177868.5312
Epoch 12/100
123/123 [==============================] - 0s 3ms/step - loss: 176006.8750
Epoch 13/100
123/123 [==============================] - 0s 3ms/step - loss: 175485.9531
Epoch 14/100
123/123 [==============================] - 0s 3ms/step - loss: 175024.9688
Epoch 15/100
123/123 [==============================] - 0s 3ms/step - loss: 175074.4062
Epoch 16/100
123/123 [==============================] - 0s 3ms/step - loss: 174415.2656
Epoch 17/100
123/123 [==============================] - 0s 3ms/step - loss: 173989.9375
Epoch 18/100
123/123 [==============================] - 0s 3ms/step - loss: 173532.0625
Epoch 19/100
123/123 [==============================] - 0s 4ms/step - loss: 174133.8438
Epoch 20/100
123/123 [==============================] - 0s 3ms/step - loss: 172668.5000
Epoch 21/100
123/123 [==============================] - 0s 3ms/step - loss: 172543.0156
Epoch 22/100
123/123 [==============================] - 0s 3ms/step - loss: 177725.2500
Epoch 23/100
123/123 [==============================] - 0s 3ms/step - loss: 171699.9531
Epoch 24/100
123/123 [==============================] - 0s 3ms/step - loss: 172332.1875
Epoch 25/100
123/123 [==============================] - 0s 3ms/step - loss: 173850.5312
Epoch 26/100
123/123 [==============================] - 0s 3ms/step - loss: 170685.4062
Epoch 27/100
123/123 [==============================] - 0s 3ms/step - loss: 170445.7031
Epoch 28/100
123/123 [==============================] - 0s 3ms/step - loss: 171990.1562
Epoch 29/100
123/123 [==============================] - 0s 3ms/step - loss: 169732.2656
Epoch 30/100
123/123 [==============================] - 0s 4ms/step - loss: 169990.9375
Epoch 31/100
123/123 [==============================] - 0s 3ms/step - loss: 171904.5781
Epoch 32/100
123/123 [==============================] - 0s 4ms/step - loss: 169688.3906
Epoch 33/100
123/123 [==============================] - 0s 3ms/step - loss: 169837.1406
Epoch 34/100
123/123 [==============================] - 0s 3ms/step - loss: 168848.4375
Epoch 35/100
123/123 [==============================] - 0s 3ms/step - loss: 168637.5312
Epoch 36/100
123/123 [==============================] - 0s 3ms/step - loss: 167974.4531
Epoch 37/100
123/123 [==============================] - 0s 3ms/step - loss: 168410.8594
Epoch 38/100
123/123 [==============================] - 0s 3ms/step - loss: 169617.2969
Epoch 39/100
123/123 [==============================] - 0s 3ms/step - loss: 168007.9531
Epoch 40/100
123/123 [==============================] - 0s 4ms/step - loss: 167327.2656
Epoch 41/100
123/123 [==============================] - 0s 3ms/step - loss: 168626.6094
Epoch 42/100
123/123 [==============================] - 0s 3ms/step - loss: 165416.5625
Epoch 43/100
123/123 [==============================] - 0s 3ms/step - loss: 167632.9375
Epoch 44/100
123/123 [==============================] - 0s 3ms/step - loss: 165133.7344
Epoch 45/100
123/123 [==============================] - 0s 3ms/step - loss: 165982.9375
Epoch 46/100
123/123 [==============================] - 0s 4ms/step - loss: 164569.3750
Epoch 47/100
123/123 [==============================] - 0s 4ms/step - loss: 165838.0938
Epoch 48/100
123/123 [==============================] - 0s 3ms/step - loss: 166496.5938
Epoch 49/100
123/123 [==============================] - 0s 3ms/step - loss: 165473.3906
Epoch 50/100
123/123 [==============================] - 0s 4ms/step - loss: 170481.6562
Epoch 51/100
123/123 [==============================] - 0s 4ms/step - loss: 168499.5312
Epoch 52/100
123/123 [==============================] - 0s 3ms/step - loss: 165678.1875
Epoch 53/100
123/123 [==============================] - 0s 3ms/step - loss: 166018.1250
Epoch 54/100
123/123 [==============================] - 0s 3ms/step - loss: 162576.3281
Epoch 55/100
123/123 [==============================] - 0s 3ms/step - loss: 164743.2969
Epoch 56/100
123/123 [==============================] - 0s 3ms/step - loss: 162854.8906
Epoch 57/100
123/123 [==============================] - 0s 3ms/step - loss: 164474.2188
Epoch 58/100
123/123 [==============================] - 0s 3ms/step - loss: 163683.3281
Epoch 59/100
123/123 [==============================] - 0s 3ms/step - loss: 166962.2188
Epoch 60/100
123/123 [==============================] - 0s 3ms/step - loss: 161691.0469
Epoch 61/100
123/123 [==============================] - 0s 3ms/step - loss: 161766.2188
Epoch 62/100
123/123 [==============================] - 0s 3ms/step - loss: 162141.7344
Epoch 63/100
123/123 [==============================] - 0s 3ms/step - loss: 164780.8281
Epoch 64/100
123/123 [==============================] - 0s 3ms/step - loss: 163007.0156
Epoch 65/100
123/123 [==============================] - 0s 3ms/step - loss: 160611.0781
Epoch 66/100
123/123 [==============================] - 0s 3ms/step - loss: 161245.0156
Epoch 67/100
123/123 [==============================] - 0s 3ms/step - loss: 161161.3438
Epoch 68/100
123/123 [==============================] - 0s 3ms/step - loss: 161721.8906
Epoch 69/100
123/123 [==============================] - 0s 3ms/step - loss: 160116.8438
Epoch 70/100
123/123 [==============================] - 0s 3ms/step - loss: 161677.7812
Epoch 71/100
123/123 [==============================] - 0s 3ms/step - loss: 161871.4688
Epoch 72/100
123/123 [==============================] - 0s 3ms/step - loss: 159821.0938
Epoch 73/100
123/123 [==============================] - 0s 3ms/step - loss: 160145.0312
Epoch 74/100
123/123 [==============================] - 0s 3ms/step - loss: 161346.2500
Epoch 75/100
123/123 [==============================] - 0s 3ms/step - loss: 161696.0156
Epoch 76/100
123/123 [==============================] - 0s 3ms/step - loss: 159734.2969
Epoch 77/100
123/123 [==============================] - 0s 3ms/step - loss: 159884.8906
Epoch 78/100
123/123 [==============================] - 0s 3ms/step - loss: 160521.4844
Epoch 79/100
123/123 [==============================] - 0s 3ms/step - loss: 158656.0156
Epoch 80/100
123/123 [==============================] - 0s 3ms/step - loss: 161573.9688
Epoch 81/100
123/123 [==============================] - 0s 3ms/step - loss: 159717.0312
Epoch 82/100
123/123 [==============================] - 0s 3ms/step - loss: 160151.2344
Epoch 83/100
123/123 [==============================] - 0s 3ms/step - loss: 159895.2500
Epoch 84/100
123/123 [==============================] - 0s 3ms/step - loss: 159037.0312
Epoch 85/100
123/123 [==============================] - 0s 3ms/step - loss: 158441.6719
Epoch 86/100
123/123 [==============================] - 0s 3ms/step - loss: 161719.6719
Epoch 87/100
123/123 [==============================] - 0s 3ms/step - loss: 161349.4062
Epoch 88/100
123/123 [==============================] - 0s 3ms/step - loss: 159757.6094
Epoch 89/100
123/123 [==============================] - 0s 3ms/step - loss: 160498.2344
Epoch 90/100
123/123 [==============================] - 0s 3ms/step - loss: 158022.4844
Epoch 91/100
123/123 [==============================] - 0s 3ms/step - loss: 158703.9219
Epoch 92/100
123/123 [==============================] - 0s 3ms/step - loss: 158500.5000
Epoch 93/100
123/123 [==============================] - 0s 3ms/step - loss: 159100.8281
Epoch 94/100

123/123 [==============================] - 0s 3ms/step - loss: 158007.3594
Epoch 95/100
123/123 [==============================] - 0s 3ms/step - loss: 158949.9062
Epoch 96/100
123/123 [==============================] - 0s 3ms/step - loss: 160738.6250
Epoch 97/100
123/123 [==============================] - 0s 3ms/step - loss: 158021.7969
Epoch 98/100
123/123 [==============================] - 0s 3ms/step - loss: 157618.1562
Epoch 99/100
123/123 [==============================] - 0s 3ms/step - loss: 157259.2344
Epoch 100/100
123/123 [==============================] - 0s 3ms/step - loss: 158002.2500

In [18]:
model.evaluate(X_test, y_test)

14/14 [==============================] - 0s 2ms/step - loss: 160058.0156

160058.015625