In [1]:
# import libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn import metrics

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('train.csv')
df.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [3]:
df.shape

(700, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [5]:
df.dropna(inplace=True)

In [6]:
X = df.drop('y',axis = 'columns')
y = df.y

In [7]:
reg = linear_model.LinearRegression().fit(X,y)

In [8]:
reg.coef_

array([1.00065638])

In [9]:
reg.intercept_

-0.10726546430095141

In [10]:
test_df = pd.read_csv("test.csv")
test_df.head(3)

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262

In [11]:
X_test = test_df.drop('y',axis = 'columns')
y_test = test_df.y

In [12]:
pred = reg.predict(X_test)

In [13]:
print('r squared error: ',metrics.r2_score(y, reg.predict(X)))
print('mean absolute error: ',metrics.mean_absolute_error(y, reg.predict(X)))

r squared error:  0.9907015319025518
mean absolute error:  2.227151953645558

In [14]:
print('r squared error: ',metrics.r2_score(y_test, pred))
print('mean absolute error: ',metrics.mean_absolute_error(y_test, pred))

r squared error:  0.9888014444327563
mean absolute error:  2.4157718500412595